<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Sign in</title>
  </head>
  <body>
    <h1>Welcome to social media authentication</h1>
    {% load socialaccount %}
    <h2>Google Login</h2>
    <a href="{% provider_login_url 'google' %}?next=/hello/"
      >Login with Google</a
    >
    <h2>GitHub Login</h2>
    <a href="{% provider_login_url 'github' %}?next=/hello/"
      >Login with GitHub</a
    >

    <h2>Facebook Login</h2>
    <a href="{% provider_login_url 'facebook' %}?next=/hello/"
      >Login with Facebook</a
    >

    <h2>Twitter Login</h2>
    <a href="{% provider_login_url 'twitter' %}?next=/hello/"
      >Login with twitter</a
    >
    <h2>Reddit Login</h2>
    <a href="{% provider_login_url 'reddit' %}?next=/hello/"
      >Login with Reddit</a
    >
    <h2>Reddit Login</h2>
    <a href="{% provider_login_url 'reddit' %}?next=/hello/"
      >Login with Reddit</a
    >
  </body>
</html>
